<section>
    <div class="container text-center mt-5">
        <h1 class="display-4 text-primary"> <strong>Bienvenido a nuestro sitio Web</strong></h1>
        <p class="lead"><strong>Somos un equipo interdiciplinario de docentes altamente capacitados, con muchos años de experencia,
            decididos en sacar a relucir el potencial de cada uno de nuestros alumnos, a base de practicas guiadas.</strong>
        </p>        
        <P>
            Este es un ejemplo de como usar layouts en EJS con <strong>express-ejs-layouts</strong>.
        </P>
        <P>
            Para la persistencia de nuestros dastos usamos <strong>MongoDB</strong>.
        </P>
        <p><br></p>        
    </div>
</section>